<!-- Resume Section -->
<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Resume</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <object class="col-lg-12 col-sm-12 col-md-12" style="height:600px" data="JasonBaldwin.pdf"></object>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br><br>
                <a href="JasonBaldwin.pdf" download class="btn btn-lg btn-dark-outline">
                    <i class="fa fa-download"> Download My Resume</i>
                </a>
            </div>
        </div>
    </div>
</section>